.pagination {
  display: flex;
  justify-content: space-between;

  @include tablet {
    justify-content: initial;
    gap: 5px;
  }

  @include desktop {
    margin-left: auto;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 30px;
    height: fit-content;

    padding: 9px 10px;
    border: 1px solid var(--primaryBorder);
    border-radius: 4px;

    font-family: var(--font-geist-mono), monospace;
    font-size: 12px;
    font-weight: 500;
    color: var(--secondaryColor);
    line-height: 1;
    user-select: none;

    background-color: var(--secondaryBtnActive);
    transition: background-color 150ms linear;

    &:hover {
      background-color: var(--secondaryBtnHover);
    }

    &:active {
      background-color: var(--secondaryBtnActive);
    }

    &--disabled {
      color: var(--primaryColor) !important;
      cursor: default !important;
      font-weight: 100 !important;
      
      background-color: transparent !important;

      // border: 1px solid var(--primaryBorder) !important;

      &:hover,
      &:active {
        background-color: transparent !important;
      }
    }
  }

  &__triplet {
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    color: var(--primaryColor);
    line-height: 2.5;
    letter-spacing: 1.19px;

    background-color: transparent;
    padding: 0 8px;
    align-items: flex-end;

    cursor: default;
    border: none;

    &:hover,
    &:active {
      background-color: transparent !important;
    }
  }

  &__active {
    background-color: var(--primaryBtnDefault);
    color: var(--primaryBtnColor);
    cursor: default;

    &:hover,
    &:active {
      background-color: var(--primaryBtnDefault) !important;
    }
  }

  &__prev,
  &__next {
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;

    padding: 0;
  }

  &__prev.pagination__button--disabled,
  &__next.pagination__button--disabled {
    font-size: 12px !important;
    line-height: 1 !important;

    padding: 9px 10px !important;
  }
}
