.books-list-skeleton {
  &__skeleton-card-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    padding: 10px;
    background-color: var(--secondaryBackground);
    @include tablet {
      width: 216px;
      flex-direction: column;
    }
  }

  &__skeleton-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    flex: 1 1 auto;

    @include tablet {
      gap: 15px;
    }
  }

  &__skeleton-card-icon-container,
  &__skeleton-card-info-title-container,
  &__skeleton-card-info-author-container {
    min-width: 80px;

    @include tablet {
      min-width: 196px;
    }
  }

  &__skeleton-card-icon-skeleton {
    height: 120px;

    @include tablet {
      height: 294px;
    }
  }

  &__skeleton-card-info-title-skeleton {
    height: 27px;
  }

  &__skeleton-card-info-author-skeleton {
    height: 21px;
  }
}
