.main {
  & .container {
    padding: 30px var(--paddingContainer);

    @include tablet {
      padding: 40px var(--paddingContainer);
    }

    @include desktop {
      padding: 50px var(--paddingContainer);
    }
  }
}
