.books-list-skeleton {
  &__skeleton-card-container {
    display: flex;
    flex-direction: row;
    gap: 25px;

    width: 100%;
    padding: 10px;

    background-color: var(--secondaryBackground);
    border: 1px solid var(--primaryBorder);
    border-radius: 8px;

    @include tablet {
      flex-direction: column;

      width: 216px;
    }
  }

  &__skeleton-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    flex: 1 1 auto;

    @include tablet {
      gap: 15px;
    }
  }

  &__skeleton-card-icon-container,
  &__skeleton-card-info-title-container,
  &__skeleton-card-info-author-container {
    display: flex;
    flex-direction: column;
    gap: 6px;

    min-width: 80px;

    @include tablet {
      min-width: 196px;
    }
  }

  &__skeleton-card-icon-skeleton {
    height: 120px;

    border: 1px solid var(--primaryBorder);
    border-radius: 5px;

    @include tablet {
      height: 294px;
    }
  }

  &__skeleton-card-info-title-skeleton {
    height: 24px;

    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
  }

  &__skeleton-card-info-author-skeleton {
    height: 18px;

    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
  }
}
