.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  background-color: var(--primaryBackground);

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    position: relative;
    padding: 10px var(--paddingContainer);

    outline: 1px solid blue;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 343px;
      left: 50%;
      transform: translateX(-50%);
  
      border-bottom: 1px solid var(--primaryBorder);
  
      @include tablet {
        width: 672px;
      }
  
      @include desktop {
        width: 1280px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;

    flex: 0 1 auto;
  }

  &__logo-img {
    width: 30px;
    height: auto;

    @include tablet {
      width: 40px;
    }
  }

  &__logo-title {
    font-family: var(--font-winky-sans), Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -1px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    flex: 1 1 auto;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    min-height: 100vh;
    padding: 10px var(--paddingContainer);

    outline: 1px solid red;

    @include desktop {
      position: static;
      flex-direction: row;
      align-items: center;
      
      width: fit-content;
      min-height: initial;
      padding: 0;
    }
  }

  &__catalog {
    display: flex;
    align-items: center;

    height: 100%;

    flex: 0 1 auto;
  }

  &__catalog-btn {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--primaryBtnDefault);
    color: var(--primaryBtnColor);
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    
    padding: 4px 16px;
    border: none;
    border-radius: 5px;

    @include desktop {
      transition: background-color 150ms linear;
  
      &:hover {
        background-color: var(--primaryBtnHover);
      }
    }

    &:active {
      background-color: var(--primaryBtnActive);
    }
  }

  &__catalog-icon {
    width: 16px;
    height: auto;
  }
  
  &__favorite {
    display: flex;
    align-items: center;

    height: 100%;

    flex: 0 1 auto;
  }

  &__favorite-btn {
    padding: 4px;
    border: none;
    border-radius: 5px;

    background-color: var(--secondaryBtnDefault);

    @include desktop {
      transition: background-color 150ms linear;
  
      &:hover {
        background-color: var(--secondaryBtnHover);
      }
    }

    &:active {
      background-color: var(--secondaryBtnActive);
    }
  }

  &__favorite-icon {
    width: 32px;
    height: auto;
  }

  &__reading {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    flex: 0 1 auto;
  }

  &__reading-btn {
    padding: 5px;
    border: none;
    border-radius: 5px;

    background-color: var(--secondaryBtnDefault);

    @include desktop {
      transition: background-color 150ms linear;
  
      &:hover {
        background-color: var(--secondaryBtnHover);
      }
    }

    &:active {
      background-color: var(--secondaryBtnActive);
    }
  }

  &__reading-icon {
    width: auto;
    height: 30px;
  }
}
